
  <header>
    <h1>Easel-dev</h1>
    <p>Easel Developer Docs</p>

    <p class="view"><a href="https://github.com/inventables/easel-dev">View the Project on GitHub <small>inventables/easel-dev</small></a></p>


    <ul>
      <li><a href="https://github.com/inventables/easel-dev/zipball/master">Download <strong>ZIP File</strong></a></li>
      <li><a href="https://github.com/inventables/easel-dev/tarball/master">Download <strong>TAR Ball</strong></a></li>
      <li><a href="https://github.com/inventables/easel-dev">View On <strong>GitHub</strong></a></li>
    </ul>
  </header>
